# zsh/fish plugins (cloned by install scripts)
gnome-language-flags/
zsh/ZSH_CUSTOM/dircolors-solarized/
zsh/ZSH_CUSTOM/plugins/autoupdate/
zsh/ZSH_CUSTOM/plugins/colored-man-pages_mod/
zsh/ZSH_CUSTOM/plugins/last-working-dir/
zsh/ZSH_CUSTOM/plugins/omz-homebrew/
zsh/ZSH_CUSTOM/plugins/uvenv/
zsh/ZSH_CUSTOM/plugins/you-should-use/
zsh/ZSH_CUSTOM/plugins/zsh-autosuggestions/
zsh/ZSH_CUSTOM/plugins/zsh-completions/
zsh/ZSH_CUSTOM/plugins/zsh-syntax-highlighting/
zsh/ZSH_CUSTOM/themes/powerlevel10k/
.init
default.profraw
fish/fish_variables
fish/conf.d/00_fig_pre.fish
fish/conf.d/99_fig_post.fish
# platform specific
fish/conf.d/virtualfish-loader.fish
# fish plugins
fish/completions/docker-compose.fish
fish/functions/trash.fish
fish/functions/sponge_filter_matched.fish
fish/functions/sponge_filter_failed.fish
fish/functions/showhidden.fish
fish/functions/rmds.fish
fish/functions/ql.fish
fish/functions/pushdf.fish
fish/functions/pfs.fish
fish/functions/pfd.fish
fish/functions/ofd.fish
fish/functions/music.fish
fish/functions/mkuvenv.fish
fish/functions/manp.fish
fish/functions/man.fish
fish/functions/gwip.fish
fish/functions/gunwip.fish
fish/functions/gtl.fish
fish/functions/gtest.fish
fish/functions/grt.fish
fish/functions/grename.fish
fish/functions/glp.fish
fish/functions/gignored.fish
fish/functions/gdv.fish
fish/functions/gbda.fish
fish/functions/gbage.fish
fish/functions/freespace.fish
fish/functions/flushdns.fish
fish/functions/cless.fish
fish/functions/cdf.fish
fish/functions/_sponge_remove_from_history.fish
fish/functions/_sponge_on_prompt.fish
fish/functions/_sponge_on_preexec.fish
fish/functions/_sponge_on_postexec.fish
fish/functions/_sponge_on_exit.fish
fish/functions/_sponge_clear_state.fish
fish/functions/_pisces_skip.fish
fish/functions/_pisces_should_insert.fish
fish/functions/_pisces_remove.fish
fish/functions/_pisces_lookup.fish
fish/functions/_pisces_jump.fish
fish/functions/_pisces_insert_right.fish
fish/functions/_pisces_insert_left.fish
fish/functions/_pisces_insert_identical.fish
fish/functions/_pisces_complete.fish
fish/functions/_pisces_bind_pair.fish
fish/functions/_pisces_backspace.fish
fish/functions/_pisces_append.fish
fish/functions/_docker.init.fish
fish/functions/_docker.abbrs.fish
fish/functions/__ysu__write_buffer.fish
fish/functions/__ysu__set_field.fish
fish/functions/__ysu__set_default.fish
fish/functions/__ysu__message.fish
fish/functions/__ysu__get_field.fish
fish/functions/__ysu__flush_buffer.fish
fish/functions/__ysu__check_hardcore.fish
fish/functions/__ysu__check_git_aliases.fish
fish/functions/__ysu__check_aliases.fish
fish/functions/__git.init.fish
fish/functions/__git.destroy.fish
fish/functions/__git.default_branch.fish
fish/functions/__git.current_branch.fish
fish/functions/__git.branch_has_wip.fish
fish/functions/__fzfcmd.fish
fish/functions/__fzf_reverse_isearch.fish
fish/functions/__fzf_parse_commandline.fish
fish/functions/__fzf_open.fish
fish/functions/__fzf_get_dir.fish
fish/functions/__fzf_find_file.fish
fish/functions/__fzf_complete_preview.fish
fish/functions/__fzf_complete.fish
fish/functions/__fzf_cd.fish
fish/conf.d/you_should_use.fish
fish/conf.d/virtualfish-uvenv.fish
fish/conf.d/sponge.fish
fish/conf.d/pisces.fish
fish/conf.d/last-working-dir.fish
fish/conf.d/git.fish
fish/conf.d/fzf.fish
fish/conf.d/done.fish
fish/conf.d/docker.fish
fish/functions/unset.fish
fish/functions/updatedb.fish
fish/functions/fisher.fish
fish/completions/fisher.fish
.claude/
