<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.egigoka.clean-unlocked-ssh-keys</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/egigoka/.scripts/clean-unlocked-ssh-keys.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
