<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va8wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAKwBAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABwAAAAEB
	AABlZ2lnb2thAAcAAAABAQAAY29uZmlncwADAAAAAQEAAG1hYwAQAAAAAQYAABAAAAAg
	AAAAMAAAAEAAAAAIAAAABAMAAPJcAAAAAAAACAAAAAQDAABkhgAAAAAAAAgAAAAEAwAA
	6h7kFQAAAAAIAAAABAMAALUf5BUAAAAAEAAAAAEGAABkAAAAdAAAAIQAAACUAAAACAAA
	AAAEAABBx8Apn0l+dBgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEF
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcfB0QiAAAAkAAAA
	AQEAAEE5NTc2RkY1LTc2MDItNDcxRS05RTNFLTI2NzQ1Rjg1RjdDRhgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2AAAAP7///8BAAAAAAAAABEA
	AAAEEAAATAAAAAAAAAAFEAAApAAAAAAAAAAQEAAAzAAAAAAAAABAEAAAvAAAAAAAAAAC
	IAAAoAEAAAAAAAAFIAAAEAEAAAAAAAAQIAAAIAEAAAAAAAARIAAAVAEAAAAAAAASIAAA
	NAEAAAAAAAATIAAARAEAAAAAAAAgIAAAgAEAAAAAAAAwIAAA7AAAAAAAAAABwAAA9AAA
	AAAAAAARwAAAIAAAAAAAAAASwAAABAEAAAAAAAAB0AAA7AAAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
	<key>activePressScale</key>
	<real>0.92000000000000004</real>
	<key>animationDuration</key>
	<real>0.29999999999999999</real>
	<key>backupRootDirectory</key>
	<string>/Users/egigoka/configs/mac</string>
	<key>customApplicationSourcePaths</key>
	<array>
		<string>/Volumes/sharge2k/linked/Applications</string>
	</array>
	<key>developmentEnableCLICode</key>
	<true/>
	<key>dockDragEnabled</key>
	<true/>
	<key>dockDragSide</key>
	<string>bottom</string>
	<key>dockDragTriggerDistance</key>
	<real>50</real>
	<key>dualModeAppearanceSettings</key>
	<data>
	eyJjb21wYWN0Ijp7InBhZ2VJbmRpY2F0b3JUb3BQYWRkaW5nIjoxMiwiaWNvbkxhYmVs
	Rm9udFNpemUiOjExLCJwYWdlSW5kaWNhdG9yT2Zmc2V0IjoyNywiZm9sZGVyRHJvcFpv
	bmVTY2FsZSI6MS42LCJwYWdlSW5kaWNhdG9yT3ZlcnJpZGVzIjp7fSwicGFnZUluZGlj
	YXRvclBlckRpc3BsYXlFbmFibGVkIjpmYWxzZSwiaWNvblNjYWxlIjowLjk1fSwiZnVs
	bHNjcmVlbiI6eyJpY29uU2NhbGUiOjEuMSwicGFnZUluZGljYXRvclRvcFBhZGRpbmci
	OjEyLCJwYWdlSW5kaWNhdG9yUGVyRGlzcGxheUVuYWJsZWQiOmZhbHNlLCJwYWdlSW5k
	aWNhdG9yT3ZlcnJpZGVzIjp7fSwiZm9sZGVyRHJvcFpvbmVTY2FsZSI6MS42LCJwYWdl
	SW5kaWNhdG9yT2Zmc2V0IjoyNywiaWNvbkxhYmVsRm9udFNpemUiOjE2fX0=
	</data>
	<key>enableAnimations</key>
	<true/>
	<key>enableDropPrediction</key>
	<true/>
	<key>enableHoverMagnification</key>
	<false/>
	<key>folderDropZoneScale</key>
	<real>1.6000000000000001</real>
	<key>folderPreviewHighRes</key>
	<true/>
	<key>followScrollPagingEnabled</key>
	<false/>
	<key>gameControllerMenuToggleLaunchpad</key>
	<true/>
	<key>gestureCloseOnPinchOut</key>
	<true/>
	<key>gestureEnabled</key>
	<true/>
	<key>gestureTapAction</key>
	<string>toggle</string>
	<key>gridColumnSpacing</key>
	<real>20</real>
	<key>gridColumnsPerPage</key>
	<integer>9</integer>
	<key>gridRowSpacing</key>
	<real>40</real>
	<key>gridRowsPerPage</key>
	<integer>4</integer>
	<key>hotCornerEnabled</key>
	<false/>
	<key>hotCornerHitboxSize</key>
	<real>50</real>
	<key>hotCornerPosition</key>
	<string>topLeft</string>
	<key>hotCornerToggleWhenOpen</key>
	<false/>
	<key>hotCornerTriggerDelay</key>
	<real>0.25</real>
	<key>hoverMagnificationScale</key>
	<real>1.1000000000000001</real>
	<key>iconLabelFontSize</key>
	<real>16</real>
	<key>iconLabelFontWeight</key>
	<string>medium</string>
	<key>iconScale</key>
	<real>1.1000000000000001</real>
	<key>isFullscreenMode</key>
	<true/>
	<key>lastUpdateCheckTimestamp</key>
	<real>1776225569.0769989</real>
	<key>launchpadBackgroundMaskDark</key>
	<data>
	eyJncmVlbiI6MCwiYmx1ZSI6MCwicmVkIjowLCJhbHBoYSI6MC4xfQ==
	</data>
	<key>launchpadBackgroundMaskEnabled</key>
	<true/>
	<key>launchpadBackgroundMaskLight</key>
	<data>
	eyJhbHBoYSI6MC4xLCJncmVlbiI6MCwicmVkIjowLCJibHVlIjowfQ==
	</data>
	<key>onboardingVersionShown</key>
	<integer>1</integer>
	<key>pageIndicatorOffset</key>
	<real>27</real>
	<key>pageIndicatorPerDisplayEnabled</key>
	<false/>
	<key>pageIndicatorTopPadding</key>
	<real>12</real>
	<key>performanceMode</key>
	<string>lean</string>
	<key>rememberLastPage</key>
	<false/>
	<key>reverseWheelPagingDirection</key>
	<true/>
	<key>scrollSensitivity</key>
	<real>0.80000000000000004</real>
	<key>showFPSOverlay</key>
	<false/>
	<key>showQuickRefreshButton</key>
	<true/>
	<key>useCAGridRenderer</key>
	<true/>
	<key>useLocalizedThirdPartyTitles</key>
	<true/>
	<key>windowOpenAnimationEnabled</key>
	<true/>
</dict>
</plist>
